.ui.form {
    /* margin-top: 30px; */
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* width: 50%; */
}

.field {
    width: 70%;
}

.ui.button {
    width: 20%;
    background-color: rgb(55,59,77);
    color: white;
}

.header {
    margin-top: 50px;
    font-size: 30px;
}

.inline.fields {
    width: 50%;   
}

/* .dropDown-size {
    width: 300px;
} */

.field-one {
    padding-left: 0px;
    padding-right: 50px;
    width: 170px;
    
}

.form-outside {
    background-color: rgb(120, 210, 127);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px;
    
}